    
.navbar {
    margin: -8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 25px;
    height: 60px;
    font-weight: bold;
    background-color: #170320;
    color: #fff;
 }

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    margin-left: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 48px;
    color : #bf299e;
}

/* NAVBAR MENU */
.menu {
    margin-right: 250px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Reem Kufi';
    display: flex;
    gap: 1em;
    padding-left: 20px;
}

.menu li:hover {
    background-color: #170320;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
/* padding: 5px 14px; */
    margin-left: 20px;
    font-family: 'Oxygen', sans-serif;
}

#NFT{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.login{
    margin-right: 15px;
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    padding-right: 2px;
    padding-top: 10px;
}

.login-links a {
    color: #fff;
}

.signup{
   font-family: 'Reem Kufi';
   display: inline;
}

#sign{
    color: #4D0A6D;
    background-color: #4D0A6D;
    border-radius: 30px; 
    height: 35px;
    width: 90px;
    text-align-last: center;
    vertical-align: middle;
    padding-top: 7px;
}

.signup-links a {
    color: #fff;
    font-family: 'Oxygen', sans-serif;

}
/* DROPDOWN MENU */
.services {
    position: relative; 
}

.dropdown {
    background-color: #9546b9;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}    
        
        
        
        
        
        
        
        
        
        
        
        
        
        @import url(https://fonts.googleapis.com/css?family=Lato:700);
        .entire_card {
            font-family: 'oxygen', sans-serif;
            -webkit-font-smoothing: antialiased;
            /* background: linear-gradient(35deg, #84fab0, #8fd3f4); */
            background: #210c2b;
            padding: 30px;
            margin: -8px;
            /* height: 100vh; */
        }
        
        .wrapper-card {
            display: flex;
            flex-wrap: nowrap;
            margin: 40px auto;
            width: 77%;
        }
        
        .card {
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px transparent;
            flex: 1;
            margin: 8px;
            padding: 30px;
            position: relative;
            text-align: center;
            transition: all 0.5s ease-in-out;
        }
        
        .card.popular {
            margin-top: -10px;
            margin-bottom: -10px;
        }
        
        .card.popular .card-title h3 {
            color: #4D0A6D;
            font-size: 22px;
        }
        
        .card.popular .card-price {
            margin: 50px;
        }
        
        .card.popular .card-price h1 {
            color: #4D0A6D;
            font-size: 60px;
        }
        
        .card.popular .card-action button {
            background-color: #4D0A6D;
            border-radius: 80px;
            color: #FFFFFF;
            font-size: 17px;
            margin-top: -15px;
            padding: 15px;
            height: 80px;
        }
        
        .card.popular .card-action button:hover {
            background-color: #4D0A6D;
            font-size: 23px;
        }
        
        .card:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }
        
        .card-ribbon {
            position: absolute;
            overflow: hidden;
            top: -10px;
            left: -10px;
            width: 114px;
            height: 112px;
        }
        
        .card-ribbon span {
            position: absolute;
            display: block;
            width: 160px;
            padding: 10px 0;
            background-color: #4D0A6D;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            text-align: center;
            left: -35px;
            top: 25px;
            transform: rotate(-45deg);
        }
        
        .card-ribbon::before,
        .card-ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid #4D0A6D;
            border-top-color: transparent;
            border-left-color: transparent;
        }
        
        .card-ribbon::before {
            top: 0;
            right: 0;
        }
        
        .card-ribbon::after {
            bottom: 0;
            left: 0;
        }
        
        .card-title h3 {
            color: rgba(0, 0, 0, 0.3);
            font-size: 15px;
            text-transform: uppercase;
        }
        
        .card-title h4 {
            color: rgba(0, 0, 0, 0.6);
        }
        
        .card-price {
            margin: 60px 0;
        }
        
        .card-price h1 {
            font-size: 46px;
        }
        
        .card-price h1 sup {
            font-size: 15px;
            display: inline-block;
            margin-left: -20px;
            width: 10px;
        }
        
        .card-price h1 small {
            color: rgba(0, 0, 0, 0.3);
            display: block;
            font-size: 11px;
            text-transform: uppercase;
        }
        
        .card-description ul {
            display: block;
            list-style: none;
            margin: 60px 0;
            padding: 0;
        }
        
        .card-description li {
            color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            margin: 0 0 15px;
        }
        
        .card-description li::before {
            font-family: FontAwesome;
            content: "\f00c";
            padding: 0 5px 0 0;
            color: rgba(0, 0, 0, 0.15);
        }
        
        .card-action button {
            background: transparent;
            border: 2px solid #4D0A6D;
            border-radius: 30px;
            color: #4D0A6D;
            cursor: pointer;
            display: block;
            font-size: 15px;
            font-weight: bold;
            padding: 20px;
            width: 100%;
            height: 60px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
        }
        
        .card-action button:hover {
            background-color: #4D0A6D;
            box-shadow: 0 2px 4px #4D0A6D;
            color: #fff;
            font-size: 17px;
        }






        